body {
    font-size: large;
    font-family: "Lato", sans-serif;
    background-color: rgb(94, 32, 65);
}
body img{
    border-radius: 1rem;
}
.banner {
    margin-left: 25%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-items: center;
}
.blur2 {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 1rem;
    opacity: 1;
}

.blur {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 1rem;
    opacity: 0.9;
}

.head {
    background-color: rgb(186, 88, 88);
    border-radius: 10px;
    display: flex;
    margin-left: 0;
    margin-bottom: 10px;
    justify-content: space-between;
    height: 4rem;
    position: relative;
}
.searchdiv {
    width: 300px;
    height: 40px;
    background-color: aliceblue;
    margin-top: 16px;
    margin-bottom: 15px;
    margin-right: 50px;
    border-radius: 2rem;
}

.searchdiv form {
    display: flex;
    margin-top: 0;
}

.searchdiv button img {
    border-radius: 0;
    margin-top: 6px;
    margin-right: 15px;
    height: 20px;
}

.searchdiv input {
    height: 40px;
    width: 100%;
}

.searchdiv input,
button {
    text-align: center;
    border-radius: 2rem;
    border: none;
    outline: none;
    background: transparent;
}

.searchdiv button {
    height: 40px;
}

.footer {
    font-size: 10px;
    gap: 20px;
    margin-left: 0;
    margin-bottom: 10px;
    height: 4rem;
    position: relative;
    background-color: cornflowerblue;
}

.footer-links {
    justify-content: center;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.details {
    margin: 25px;
    margin-left: 50px;
    display: flex;
    gap: 30px;
}
.details {
    display: flex;
}
details summary {
    list-style: none;
    cursor: pointer;
}


.login1 {
    background-color: rgb(184, 182, 186);
    opacity: .7;
    height: 350px;
    width: 500px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 1rem;
}

.login1 input {
    border: none;
    border-radius: 1rem;
    height: 40px;
    width: 300px;
    text-align: center;
}

button {
    height: 50px;
    font-size: 1rem;
}

.login button {
    width: 200px;
    height: 40px;
    border: 3px solid rgb(84, 156, 128);
    border-radius: 5px;
}


.login1 .forgetPass {
    background-color: rgb(184, 182, 186);
    height: 600px;
    width: 500px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 1rem;
}

.createAccount {
    background-color: rgb(184, 182, 186);
    height: 700px;
    width: 600px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 1rem;
}

.ExClass {
    border: none;
    border-radius: 1rem;
    height: 40px;
    width: 300px;
    text-align: center;
}

.productSection {
    background-color: rgb(222, 201, 176);
}

.products {
    display: flex;
    flex-direction: row;
    gap: 100px;
    background-color: aliceblue;
    border-radius: 1rem;
    overflow-y: hidden;
    cursor: grab;
    margin: 10px;
}

.products div {
    margin: 10px;
    border-radius: 1rem;
    background-color: bisque;
    width: 50%;
}

.products div img {
    margin: 1rem;
    height: 15rem;
    width: 11rem;
}

.products div button {
    width: 100px;
    height: auto;
    border: 3px solid red;
    border-radius: 10px;
}

.createAccount button {
    width: 200px;
    height: 40px;
    border: 3px solid rgb(84, 156, 128);
    border-radius: 5px;
}

.forgetPass button {
    width: 200px;
    height: 40px;
    border: 3px solid rgb(84, 156, 128);
    border-radius: 5px;
}

.categorySection {
    background-color: rgb(222, 201, 176);
    ;
}

.category {
    display: flex;
    flex-direction: row;
    gap: 100px;
    background-color: aliceblue;
    border-radius: 1rem;
    overflow-y: hidden;
    cursor: grab;
    margin: 10px;
}

.category div {
    margin: 10px;
    border-radius: 1rem;
    background-color: bisque;
    width: 50%;
}

.category div img {
    margin: 1rem;
    height: 15rem;
    width: 11rem;
}

@media (max-width: 991px) {
    
    .head {
        background-color: rgb(186, 88, 88);
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 50px;
    }
    .searchdiv{
        margin-right: 0;
    }
    .products {
        display: flex;
        flex-direction: row;
        gap: 10px;
        background-color: rgb(93, 116, 136);
        overflow-y: hidden;
        cursor: grab;
        align-items: center;
        margin: 10px;
    }
    .products div {
        margin-left: 10px;
        width: 1000px;
    }
    .products div img {
        margin: 1rem ;
        height: 200px;
        width: 150px; 
    }
    .products div button {
        width: 100px;
        height: auto;
        border: 3px solid red;
        border-radius: 10px;
    }

    .categorySection {
        background-color: rgb(222, 201, 176);
        margin: 0;
    }

    .category{
        display: flex;
        flex-direction: row;
        gap: 10px;
        background-color: rgb(93, 116, 136);
        overflow-y: hidden;
        cursor: grab;
        align-items: center;
        margin: 10px;
    }
    .category div img{
        margin: 1rem ;
        height: 200px;
        width: 150px; 
    }
}
